<%- include('partials/header'); -%>

    <div class="card card">
      <div class="card-body">
        <h1 class="card-title"><%= title %></h1>
        <p class="card-text"><%= description %></p>
      </div>
    </div>
    
<%- include('partials/footer'); -%>